@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: 'Roberto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;/* Has to be checked */
  justify-content: center; /* Has to be checked */
  height: 100vh; /* Has to be checked */
  overflow: hidden; /* Prevent scroll bars to be showen by default */
  margin: 0;

}
