@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: 'Roberto', sans-serif;
  /* NOTE: for rotating */
  background-color: #333;
  color: #222;
  overflow-x: hidden; /* Prevent scroll bars to be showen by default */
  margin: 0;

}

.img-resizing{
  max-width: 100%;
  width: 1000px;
}
