@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}
html{
  height: 100%;
}
body{
  font-family: 'Roberto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;/* Has to be checked */
  justify-content: center; /* Has to be checked */
  height: 100%; /* Has to be checked */
  overflow-x: hidden; /* Prevent scroll bars to be showen by default */
  margin: 0;

}

.bg-image{
  background-image: url('../imgs/IMG_1603.jpg');
  height: calc(100% + 70px);
  width: calc(100% + 70px);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  /* NOTE: positioning Header's tag */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  /* NOTE: blury */
  filter: blur(30px);
  z-index: -1;

}

.loading{
  position: absolute;
  font-size: 50px;
  color: #fff;

}
